<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{#if page_info}}{{page_info.title}}{{else}}{{settings.title}}{{/if}}</title>
<meta name="description" content="{{#if page_info}}{{page_info.description}}{{else}}{{settings.description}}{{/if}}" />
<meta name="keywords" content="{{#if page_info}}{{page_info.keywords}}{{else}}{{settings.keywords}}{{/if}}" />
<meta name="author" content="Muhammed Furkan AYDIN" />
<meta name="owner" content="Muhammed Furkan AYDIN" />
<meta name="copyright" content="(c) 2016" />
<meta name="google-site-verification" content="IBRdHgZY-2-trJjNI3YLwWktrxmeYjJpFtqZEKeE4v4" />
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93697118-1', 'auto');
  ga('send', 'pageview');

</script>
<link rel="stylesheet" href="/css/main.css">