<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{#if page_info}}{{page_info.title}}{{else}}{{settings.title}}{{/if}}</title>
<meta name="description" content="{{#if page_info}}{{page_info.description}}{{else}}{{settings.description}}{{/if}}" />
<meta name="keywords" content="{{#if page_info}}{{page_info.keywords}}{{else}}{{settings.keywords}}{{/if}}" />
<meta name="author" content="Muhammed Furkan AYDIN" />
<meta name="owner" content="Muhammed Furkan AYDIN" />
<meta name="copyright" content="(c) 2016" />
<link rel="stylesheet" href="/css/main.css">