<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    <div class="wrapper">
        <div class="cover" style="background-image: url({{settings.cover_image}})"></div>
        <div class="content">
            <div class="blog">
                {{#if articles.length}}
                {{#each articles}}
                <a href="/article/{{this.url}}" class="blog-item">
                    <h2>{{this.title}}</h2>
                    <span>{{this.description}}</span>
                </a>
                {{/each}}
                {{else}}
                <h1>There is no blog post yet.</h1>
                <span>Please come back later.</span>
                {{/if}}
                
                <!--
                    [TODO]
                <div class="pagination">
                    <a href="#" class="page">1</a>
                    <a href="#" class="page">2</a>
                    <a href="#" class="page">3</a>
                    <span class="page active">4</span>
                    <a href="#" class="page">5</a>
                    <a href="#" class="page">6</a>
                </div>
                 -->
            </div>
            {{> menu}}
        </div>
    </div>
    <script>
        document.querySelector(".menu-button").addEventListener("click", function (e) {
            e.preventDefault();
            document.querySelector(".menu-button").classList.toggle("active");
            document.querySelector(".menu").classList.toggle("active");
        })
    </script>
</body>

</html>